.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    float: left;
    margin-top: -10px;
  }
  
  .App-header {
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    color: white;
    background-image: url("../imgs/header.jpg");
    height: 26vh;
    transform: translate3d(0px, 0px, 0px);
  }
  .right-holder {
      vertical-align: middle;
  }
  .header-holder {
      padding: 20px;
      display: flex;
  }
  .App-title {
    font-size: 1.5em;
  }
  .App-intro {
    font-size: large;
  }
  .form-holder {
    padding: 10px;
  }
  .form-holder  input {
    margin-bottom: 20px;
  }
  .text-container  {
    font: 400 14px/120% Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #777;
    outline: none;
    resize: none;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    height: 100%;
    border: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
  
.texter-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  margin-bottom: 20px;
}
.btnsub {

  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(212, 27, 27, 0.1);
  padding: 10px;
  background:orange;
  color: white;
  font-weight: 600;
}
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  